<div id= "report_sub_nav">

	<h2 class="report_side_nav_title"><%= @report.project[:project_name] %></h2>

	<dl>
		<dt class="report_side_nav_group">標準分析</dt>
		<div class="report_side_nav_contents">
			<dd>
				<%= link_to "時間軸分析", :i1 => "default", :i2 => "time_analyze", :remote => true %>
				<%= link_to "ディメンション分析", :i1 => "default", :i2 => "dimension_analyze", :remote => true %>
			</dd>
		</div>
	</dl>
	<dl>
		<dt class="report_side_nav_group">カスタム分析</dt>
		<div class="report_side_nav_contents">
			<dd>
				<%= link_to "時間軸分析", :i1 => "custom", :i2 => "time_analyze", :remote => true %>
				<%= link_to "ディメンション分析", :i1 => "custom", :i2 => "dimension_analyze", :remote => true %>
			</dd>
		</div>
	</dl>
	<dl>
		<dt class="report_side_nav_group">設定</dt>
		<div class="report_side_nav_contents">
			<dd>
				<%= link_to "カスタムディメンション設定", :i1 => "setting", :i2 => "custom_dimension", :remote => true %>
			</dd>
		</div>
	</dl>
</div>