<section>
  <div class="form-group">
    <h1 class="form-title">Add a New Account</h1>

    <% if @er_messages.present?  %>
      <div id="error_explanation">
      <h2><%= @er_messages.count %>件のエラーがあります。</h2>

      <ul>
        <% @er_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      </div>
    <% end %>

    <%= form_for(:session, url: dynamic_login_path) do |f| %>
      <table class="layer1">
        <tbody>
          <tr>
            <td class="input-label">
              <%= f.label :email %>
            </td>
            <td class="input-body">
              <%= f.text_field :email, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td class="input-label">
              <%= f.label :password %>
            </td>
            <td class="input-body">
              <%= f.password_field :password, class: 'form-control' %>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="form-submit" colspan="2">
              <%= f.submit "Log in", class: "btn btn-primary" %>
            </td>
          </tr>
        </tfoot>
      </table>
    <% end %>
    <h3>New user? <%= link_to "Sign up now!", dynamic_login_path_for_joinning %></h3>
  </div>
</section>