<div id="report_graph_option">
  <div id="emotion_option">
    <label class="indicater-optin-label">感情の選択</label>
    <% @report.emotions.each do |ek| %>
      <input class="graph-option-check" type="checkbox" name="任意" value="<%=ek[:name]%>" id="emo_<%= ek[:name] %>_option" checked="checked" />
      <label for="emo_<%= ek[:name] %>_option" class="graph-option-label"><%=ek[:name]%></label>
    <% end %>
  </div>


  <div id="dimension_option">
    <label class="indicater-optin-label">要素の選択</label>
    <% @report.dimensions.each do |d| %>
    <input class="graph-option-check" type="checkbox" name="任意" value="<%= d[:name] %>" id="dimension_<%= d[:name] %>_option" />
    <label for="dimension_<%= d[:name] %>_option" class="graph-option-label"><%= d[:name] %></label>
    <% end %>

  </div>

</div>