<header class="header">
	<div class="header-title">Everse</div>
	<% if logged_in? %>
  <button id="header-customer-menu-button"
  			  class="header-button header-customer-menu-button mdl-button mdl-js-button">
    <span class="header-customer-name"><%= current_customer.name %></span>
	  <i class="material-icons">arrow_drop_down</i>
	</button>

	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
	    for="header-customer-menu-button">
		<li class="mdl-menu__item"><%= link_to "マイページ", customer_path(current_customer.id) %></li>
	</ul>
	<% end %>

  <button id="demo-menu-lower-right"
        class="header-button header-menu-button mdl-button mdl-js-button mdl-button--icon">
	  <i class="material-icons">more_vert</i>
	</button>

	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
	    for="demo-menu-lower-right">
		<li class="mdl-menu__item"><%= link_to  "新規ユーザー登録", new_customer_path %></li>
		<% if logged_in? %>
		<li class="mdl-menu__item"><%= link_to "プロジェクト一覧", apps_path %></li>
		<li class="mdl-menu__item"><%= link_to "Log out", logout_path, method: "delete" %></li>
		<% else %>
		<li class="mdl-menu__item"><%= link_to "Log in", login_path(goto: "/customers/show") %></li>
		<% end %>
	</ul>
</header>