<header class="header">
	<div class="header-title">Everse</div>
	<% if logged_in? %>
	<button class="header-button header-customer-menu-button" id="header-customer-menu-button">
		<span class="header-customer-name"><%= current_customer.name %></span>
    <i class="material-icons">arrow_drop_down</i>
  </button>
	<% end %>	
	<button class="header-button header-menu-button" id="header-menu-button">
    <i class="material-icons">more_vert</i>
  </button>
</header>
<% if logged_in? %>
<div id='header-customer-menu' class="menu">
	<ul>
		<li><%= link_to "マイページ", customer_path(current_customer.id) %></li>
	</ul>
</div>
<% end %>
<div id='header-menu' class="menu">
	<ul>
		<li><%= link_to  "新規ユーザー登録", new_customer_path %></li>
		<% if logged_in? %>
		<li><%= link_to "プロジェクト一覧", apps_path %></li>
		<li><%= link_to "Log out", logout_path, method: "delete" %></li>
		<% else %>
		<li><%= link_to "Log in", login_path %></li>
		<% end %>
	</ul>
</div>