<header class="header">
	<div class="header-title">Everse</div>
	<% if logged_in? %>
  <button id="header-customer-menu-button"
  			  class="header-button header-customer-menu-button mdl-button mdl-js-button">
    <span class="header-customer-name"><%= current_customer.name %></span>
	  <i class="material-icons">arrow_drop_down</i>
	</button>

	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
	    for="header-customer-menu-button">
		<%= link_to customer_path(current_customer.id) do %><li class="mdl-menu__item">マイページ</li><% end %>
		<%= link_to apps_path do %><li class="mdl-menu__item">プロジェクト一覧</li><% end %>
	</ul>
	<% end %>

  <button id="demo-menu-lower-right"
        class="header-button header-menu-button mdl-button mdl-js-button mdl-button--icon">
	  <i class="material-icons">more_vert</i>
	</button>

	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
	    for="demo-menu-lower-right">
		<%= link_to new_customer_path do %><li class="mdl-menu__item">新規ユーザー登録</li><% end %>
		<% if logged_in? %>
		<%= link_to logout_path, method: "delete" do %><li class="mdl-menu__item">Log out</li><% end %>
		<% else %>
		<%= link_to login_path(goto: "/customers/show") do %><li class="mdl-menu__item">Log in</li><% end %>
		<% end %>
	</ul>
</header>