<%= form_tag("/customers/invite", method: "post") do %>
<%= hidden_field :app, :id, :name => "customer[app_id]" %>
<div class='modal-header'>
	<h2>Invite People to this Application</h2>
</div>
<div class='modal-contents'>
	<div class='modal-contents-email'>
 	  <%= text_field(:customer, :email, :placeholder => 'Email', :class => 'modal-contents-email-input') %>
	</div>
</div>
<div class='modal-footer'>
	<%= button_tag("INVITE", class: "simple-button table-footer-button mdl-button mdl-js-button mdl-js-ripple-effect") %>
	<%= button_tag("CANCEL", class: "simple-button table-footer-button mdl-button mdl-js-button mdl-js-ripple-effect", id: "invite-cancel-button", type: "button") %>
</div>
<% end %>