<section>
	<div class="form-group">
		<h1 class="form-title">Add a New Account</h1>

		<% if @er_messages.present?  %>
  		<div id="error_explanation">
    	<h2><%= @er_messages.count %>件のエラーがあります。</h2>

    	<ul>
    		<% @er_messages.each do |msg| %>
      		<li><%= msg %></li>
    		<% end %>
    	</ul>
  		</div>
		<% end %>


		<%= form_for @customer_form, url: dynamic_signup_path_for_joinning do |f| %>
			<table class="layer1">
				<tbody>
					<tr>
						<td class="input-label">
							<%= f.label :name, '姓名' %>
						</td>
						<td class="input-body">
							<%= f.text_field :name, :placeholder => "山田 太郎" %>
						</td>
					</tr>
					<tr>
						<td class="input-label">
							<%= f.label :email, 'メールアドレス' %>
						</td>
						<td class="input-body">
							<%= f.text_field :email, :placeholder => "hello@example.com" %>
						</td>
					</tr>
					<tr>
						<td class="input-label">
							<%= f.label :password, 'パスワード' %>
						</td>
						<td class="input-body">
							<%= f.password_field :password, :placeholder => "pass" %>
						</td>
					</tr>
					<tr>
						<td class="input-label">
							<%= f.label :password_confirmation, 'パスワードの確認' %>
						</td>
						<td class="input-body">
							<%= f.password_field :password_confirmation, :placeholder => "pass" %>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="form-submit" colspan="2">
							<%= f.submit "ADD" %>
						</td>
					</tr>
				</tfoot>
			</table>
		<% end %>
	</div>
</section>