<section class="pt-section">
	<div class="customers_new_section_inner">
		<h1 class="section-title">Add a New Account</h1>

		<% if @er_messages.present?  %>
  		<div id="error_explanation">
    	<h2><%= @er_messages.count %>件のエラーがあります。</h2>

    	<ul>
    		<% @er_messages.each do |msg| %>
      		<li><%= msg %></li>
    		<% end %>
    	</ul>
  		</div>
		<% end %>


		<div class="create-form-card mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp">
		  <div class="mdl-card__supporting-text">
		  	<%= form_for @customer_form, url: dynamic_signup_path_for_joinning do |f| %>
			    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<%= f.text_field :name, class: 'mdl-textfield__input', pattern: "[A-Z,a-z, ]*"%>
			      <label class="mdl-textfield__label" for="Name">Name...</label>
			      <span class="mdl-textfield__error">Letters and spaces only</span>
			    </div>
			    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<%= f.text_field :email, class: 'mdl-textfield__input'%>
			      <label class="mdl-textfield__label" for="Name">Email...</label>
			    </div>
			    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<%= f.password_field :password, class: 'mdl-textfield__input'%>
			      <label class="mdl-textfield__label" for="Name">Password...</label>
			    </div>
			    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<%= f.password_field :password_confirmation, class: 'mdl-textfield__input'%>
			      <label class="mdl-textfield__label" for="Name">Password Confirmation...</label>
			    </div>
			    <p class="submit-area">
          	<%= f.submit "ADD", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
		    	</p>
	    	<% end %>
		  </div>
		</div>
	</div>
</section>