<%= @test.value %>
<%= @test2 %>
<%= @test3.value %>

<div>
	validation1 : <%= @validation1.inspect %>
</div>

<div>
	validation2 : <%= @validation2.inspect %>
</div>

<div>
	validation3 : <%= @validation3.inspect %>
</div>