<%= @test %>
<%= @test2 %>
<%= @test3 %>

<div>
	validation1 : <%= @validation1 %>
</div>

<div>
	validation2 : <%= @validation2 %>
</div>

<div>
	validation3 : <%= @validation3 %>
</div>


<div>
	flash : <%= h(flash[:notice]) %>
</div>