<section>
	<div class="form-group">
		<h1 class="form-title">Edit Project</h1>

		<% if @er_messages.present?  %>
  		<div id="error_explanation">
    	<h2><%= @er_messages.count %>件のエラーがあります。</h2>

    	<ul>
    		<% @er_messages.each do |msg| %>
      		<li><%= msg %></li>
    		<% end %>
    	</ul>
  		</div>
		<% end %>

		<h2 class="form-sub-title">プロジェクト名を変更</h2>
		<%= form_for @report.project do |f| %>
			<%= f.hidden_field :id, :value => @report.project.id %>
			<table class="layer1">
				<tbody>
					<tr>
						<td class="input-label">
							<%= f.label :project_name, 'プロジェクト名' %>
						</td>
						<td class="input-body">
							<%= f.text_field :project_name, :placeholder => "some project" %>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="form-submit" colspan="2">
							<%= f.submit "SAVE" %>
						</td>
					</tr>
				</tfoot>
			</table>
		<% end %>
	</div>
</section>