<section>
	<div class="projects_new_section_inner">
		<h1 class="section-title">Add a New Project</h1>

		<% flash.each do |key, value| %>
		  <%= content_tag(:div, value, class: "#{key}") %>
		<% end %>

		<div class="create-form-card mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp">
		  <div class="mdl-card__supporting-text">
		  	<%= form_for @project_form, url: projects_path do |f| %>
			    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    	<%= f.select :app_id, current_customer.apps.map { |app| [app.app_name, app.id]}, {}, class: 'mdl-textfield__input', id: 'app-selection' %>
					  <label class="mdl-textfield__label" for="app-selection">Parent Application...</label>
					</div>
			    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<%= f.text_field :project_name, class: 'mdl-textfield__input', pattern: "^[-0-9a-zA-Z_.]+$"%>
			      <label class="mdl-textfield__label" for="Name">Project Name...</label>
			      <span class="mdl-textfield__error">Invalid format</span>
			    </div>
			    <p class="submit-area">
          	<%= f.submit "ADD", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
		    	</p>
	    	<% end %>
		  </div>
		</div>
	</div>
</section>