<section class="pt-section">
	<div class="form-group">
		<h1 class="form-title">Edit Application</h1>

		<% if @er_messages.present?  %>
  		<div id="error_explanation">
    	<h2><%= @er_messages.count %>件のエラーがあります。</h2>

    	<ul>
    		<% @er_messages.each do |msg| %>
      		<li><%= msg %></li>
    		<% end %>
    	</ul>
  		</div>
		<% end %>

	  <h2 class="form-sub-title">アプリケーション名を変更</h2>
		<%= form_for @app do |f| %>
			<%= f.hidden_field :id, :value => @app.id %>
			<table class="layer1">
				<tbody>
					<tr>
						<td class="input-label">
							<%= f.label :app_name, 'アプリケーション名' %>
						</td>
						<td class="input-body">
							<%= f.text_field :app_name, :placeholder => "app name" %>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="form-submit" colspan="2">
							<%= f.submit "SAVE" %>
						</td>
					</tr>
				</tfoot>
			</table>
		<% end %>

		<h2 class="form-sub-title">メンバー</h2>
		<%=
		customers = @app.customers.map do |customer|
			[customer.name, find_by_ids(@app.id, customer.id)[:authority]['name']]
		end
	  table = {
	  	value: customers,
	  	foot: simple_button('ADD USER', 'invite-customer-button')
	  }
	  render partial: "shared/partials/basic_table", locals: { table: table }
	  %>
	</div>
</section>
<%=
contents = <<-'EOS'
<input>
EOS
modal = {
	wrapper: {
		id: 'invite-modal-wrapper',
		parcial: 'apps/edit/app_edit_modal_contents',
	},
	mask: {
		id: 'invite-modal-mask'
	}
}
render partial: "shared/partials/basic_modal", locals: { modal: modal }
%>

