<div id="report_graph_option">
  <div id="emotion_option">
    <label class="indicater-optin-label">感情の選択</label>
    <% @emo_kinds.each do |ek| %>
      <input class="graph-option-check" type="checkbox" name="任意" value="<%=ek%>" id="emo_<%= ek %>_option" />
      <label for="emo_<%= ek %>_option" class="graph-option-label"><%=ek%></label>
    <% end %>
  </div>


  <div id="dimension_option">
    <label class="indicater-optin-label">要素の選択</label>
    <% @dimensions.each do |d| %>
    <input class="graph-option-check" type="checkbox" name="任意" value="<%= d %>" id="dimension_<%= d %>_option" />
    <label for="dimension_<%= d %>_option" class="graph-option-label"><%= d %></label>
    <% end %>

  </div>

</div>