<div id="report_container">
  <div id="report_json">
    <%= render partial: "reports/json" %>
  </div>

  <div id="report_sub">
    <%= render partial: "reports/sub_nav/report_sub_nav" %>
  </div>

  <div id="report_main">
    <%= render partial: "reports/main/report_main_header" %>
    <%= render partial: "reports/main/report_main_view" %>
    <%= render partial: "reports/main/report_main_footer" %>
  </div>

</div>