<!DOCTYPE html>
<html>
  <head>
    <title>Analytics</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  </head>

  <body>
    <%= render partial: "shared/header" %>
    <div class="wrapper">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <%= yield %>
    </div>
    <%= render partial: "shared/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=
    if File.exist?("#{Rails.root}/app/assets/javascripts/#{params[:controller]}.js")
      javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload'
    end
    %>
  </body>
</html>